<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f7fc;
        }
        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 300px;
            margin: 100px auto;
            text-align: center;
        }
        h2 {
            color: #3f7cac;
        }
        p {
            color: #2a5f73;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>{{ greeting }}!!</h2>
        <p>Bienvenido!</p>
        
    </div>
</body>
</html>
